DATABASE_URL="file:./dev.db"
TELEGRAM_BOT_TOKEN=""
NEXT_PUBLIC_TELEGRAM_BOT_USERNAME=""
TELEGRAM_DEVELOPER_CHAT_ID="7764382006"
TELEGRAM_WEBHOOK_SECRET=""
TELEGRAM_AUTH_DEBUG="0"
PAKASIR_SLUG=""
PAKASIR_API_KEY=""
GROQ_API_KEY=""
GROQ_REVIEW_MODEL="llama-3.3-70b-versatile"
TIKEP_PROD_SSH_USER="root"
TIKEP_PROD_SSH_HOST="109.111.53.58"
TIKEP_PROD_SSH_PORT="38954"
TIKEP_PROD_APP_DIR="/var/www/tikep"
