DATABASE_URL="file:./dev.db"
TELEGRAM_BOT_TOKEN=""
NEXT_PUBLIC_TELEGRAM_BOT_USERNAME=""
TELEGRAM_DEVELOPER_CHAT_ID="7764382006"
TELEGRAM_WEBHOOK_SECRET=""
PAKASIR_SLUG=""
PAKASIR_API_KEY=""
GROQ_API_KEY=""
GROQ_REVIEW_MODEL="llama-3.3-70b-versatile"
