# dependencies
node_modules

# next.js
.next
out

# generated
lib/generated/prisma
dev.db*
prisma/dev.db*

# production
build

# env
.env*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local editor
.DS_Store

/lib/generated/prisma
